.btn_dashboard{float:left;
background-color:#FFB51B;background-image:url(../images/back.png);
background-image:url(../images/back.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
background-image:url(../images/back.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
background-image:url(../images/back.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
background-image:url(../images/back.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
background-image:url(../images/back.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
background-image:url(../images/back.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_dashboard:hover{background-color:#FB8F19;background-image:url(../images/back.png);
background-image:url(../images/back.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
background-image:url(../images/back.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
background-image:url(../images/back.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
background-image:url(../images/back.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
background-image:url(../images/back.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
background-image:url(../images/back.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_users{float:left;
background-color:#FFB51B;background-image:url(../images/user.png);
background-image:url(../images/user.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
background-image:url(../images/user.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
background-image:url(../images/user.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
background-image:url(../images/user.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
background-image:url(../images/user.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
background-image:url(../images/user.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_users:hover{background-color:#FB8F19;background-image:url(../images/user.png);
background-image:url(../images/user.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
background-image:url(../images/user.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
background-image:url(../images/user.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
background-image:url(../images/user.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
background-image:url(../images/user.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
background-image:url(../images/user.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_add{float:left;
background-color:#FFB51B;background-image:url(../images/new.png);
background-image:url(../images/new.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
background-image:url(../images/new.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
background-image:url(../images/new.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
background-image:url(../images/new.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
background-image:url(../images/new.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
background-image:url(../images/new.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_add:hover{background-color:#FB8F19;background-image:url(../images/new.png);
background-image:url(../images/new.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
background-image:url(../images/new.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
background-image:url(../images/new.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
background-image:url(../images/new.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
background-image:url(../images/new.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
background-image:url(../images/new.png), linear-gradient(top,#F78400,#FF9C30)
}

/* JQUERY UI DIALOG */
.ui-dialog{
border:1px solid #D5D5D5;
background: #f5f5f5;
padding:2px;
}
.ui-dialog-titlebar{
padding:2px;
background-color:#4A8BF5;
background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #4F8FFF);
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F8FFF), to(#4080E5));
border:1px solid #3079ED;
}
.ui-dialog-title{
color:#fff;
text-shadow:1px 1px 0 #3070D5;
}
.ui-dialog-titlebar-close{
float:right;
margin-right: 16px;
text-indent: -1000px;
}
.ui-icon-closethick{
background-image: url(../images/close.png);
width:16px;
height:16px;
float:left;
}
.ui-button{
background-color:#4A8BF5;
background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #4F8FFF);
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F8FFF), to(#4080E5));
}
.ui-dialog-buttonset{
border-top:1px solid #d5d5d5;
padding:2px 0 0;
text-align:center;
}
.ui-icon-alert{
background-image: url(../images/alert.png);
width:16px;
height:16px;
float:left;
margin:10px;
}